*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: white;
}
.location,
.temperture{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperture{
  flex-direction: column;
}
.degree{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree span{
  margin: 10px;
  font-size: 25px;
}
#tempcondition{
  font-size: 30px;;
}
#searchlocation{
  height: 45px;
  width: 350px;
  border-radius: 10px;
  border-style: none;

  font-size: 20px;
}
input:focus{
  outline: none;
}
::placeholder{
  color: deepskyblue;
  font-size: 20px;
}
.button{
  height: 35px;
  width: 150px;
  border-radius: 10px;
  background-color: aquamarine;
}
.button:hover{
  background-color: steelblue;
  color: white;
  box-shadow: 5px 5px white;
}
